<section class="nav mt-4 d-flex justify-content-between align-items-center">
  <div class="input w-75">
    <span><i class="fa-solid fa-magnifying-glass"></i></span>
    <input type="text" class="w-75 ms-3" placeholder="Search Here">
  </div>
  <div class="d-flex align-items-center">
    <img class="me-2" [src]="currentUser?.profileImage" alt="">
    <p class="m-0">{{currentUser?.userName}}</p>
  </div>
  <i (click)="openDialog()" class="fa-solid fa-gear "></i>
  <i class="fa-solid fa-bell"></i>
</section>
