@import '../../../../../assets/styles/layout.scss';

section{
    border-top: 1px rgba(229, 229, 229, 1) solid;
    padding: 2rem 0;
    article{
        h2{
            font-size: 1.6rem !important;
            color: $dark-blue;
            span{
                color:rgba(32, 63, 199, 1);
                font-size: 1.6rem !important;

            }
        }
        p, ul li a{
            color: rgba(176, 176, 176, 1);
            font-size: 1rem;
            font-weight: 300;
        }

        ul{
            h3{
                font-weight: 500;
                color: $dark-blue;
                
            }
            li{
                padding: 0.2rem;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}