<section class="py-5">
  <h1 class="text-center">Explore All Rooms</h1>
  <div class="container">
    <p>
      <a routerLink="/landing-page/clientHome">Home</a> / Explore
    </p>
    <h3>All Rooms</h3>
    <div class="row">
      <div *ngFor="let room of roomsArray" class="col-md-4">
        <div class="ads-card">
          <div class="img-holder">
            <img class="w-100" height="200" [src]="room.images? room.images: emptyImage" alt="">
            <span>{{room.discount| currency: 'EGP '}} Off</span>
          </div>
          <h3>{{room.roomNumber}}</h3>
          <p>{{room.price| currency : 'EGP '}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-paginator mx-auto d-flex justify-content-center my-4">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="size" [totalRecords]="roomData.data.totalCount"
      [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>


</section>
