<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="cart">
          <div>
            <h3>{{chartsItems.rooms}}</h3>
            <p>Rooms</p>
          </div>
          <div class="icon">
            <i class="fa-solid fa-person-shelter"></i>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="cart">
          <div>
            <h3>{{chartsItems.facilities}}</h3>
            <p>Facilities</p>
          </div>
          <div class="icon">
            <i class="fa-solid fa-folder-open"></i>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="cart">
          <div>
            <h3>{{chartsItems.ads}}</h3>
            <p>Ads</p>
          </div>
          <div class="icon">
            <i class="fa-brands fa-adn"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 justify-content-between">

      <div class="col-md-5">
        <div>
          <canvas id="myChart">{{chartPie}}</canvas>
        </div>
      </div>

      <div class="col-md-5">
        <div>
          <canvas id="doughnutChart">{{chartDoughnut}}</canvas>
        </div>
      </div>
    </div>
  </div>
</section>
