

<!-- Reviews Section  -->


<section class="mt-5">
    <owl-carousel-o [options]="testimonialOptions">

      <ng-template carouselSlide>
        <div class="container">

            <div class="row justify-content-center g-4">
                <div  class="col-md-4 ">
                    <div class="test-card">
                    <img class="w-100 h-100" src="../../../../../assets/images/landing-page/picturefamilyReview.png" alt="" />

                    </div>
                </div>
                <div class="col-md-8 ">
                    <h2>Happy Family</h2>
                    <div class="star-container my-2 mt-4">
                    <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
                    </div>
                    <h4 class="h4">
                    What a great trip with my family and
                    I should try again next time soon ...
                    </h4>
                    <p class="paragraph">Angga, Product Designer</p>
                
                </div>
            </div>
        </div>

      </ng-template>  

      <ng-template carouselSlide>
        <div class="container">

            <div class="row justify-content-center g-4">
                <div  class="col-md-4 ">
                    <div class="test-card">
                    <img class="w-100 h-100" src="../../../../../assets/images/landing-page/picturefamilyReview.png" alt="" />

                    </div>
                </div>
                <div class="col-md-8 ">
                    <h2>Happy Family</h2>
                    <div class="star-container my-2 mt-4">
                    <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
                    </div>
                    <h4 class="h4">
                    What a great trip with my family and
                    I should try again next time soon ...
                    </h4>
                    <p class="paragraph">Angga, Product Designer</p>
                
                </div>
            </div>
        </div>

      </ng-template>  
      <ng-template carouselSlide>
        <div class="container">

            <div class="row justify-content-center g-4">
                <div  class="col-md-4 ">
                    <div class="test-card">
                    <img class="w-100 h-100" src="../../../../../assets/images/landing-page/picturefamilyReview.png" alt="" />

                    </div>
                </div>
                <div class="col-md-8 ">
                    <h2>Happy Family</h2>
                    <div class="star-container my-2 mt-4">
                    <i *ngFor="let star of stars" class="fa-solid fa-star"></i>
                    </div>
                    <h4 class="h4">
                    What a great trip with my family and
                    I should try again next time soon ...
                    </h4>
                    <p class="paragraph">Angga, Product Designer</p>
                
                </div>
            </div>
        </div>

      </ng-template>  
    </owl-carousel-o>

  </section>