<section class="favourites">
    <article class="container">
        <h1 class="text-center">Your Favorites</h1>

        <h2>Your Rooms</h2>
        <div class="row g-2 "  *ngIf="favouriteRooms[0].rooms.length > 0">
            <div *ngFor="let item of favouriteRooms" class="col-md-4">
                <div class="ads-card card-sm" *ngFor="let room of item.rooms">
                    <div class="img-holder" >
                    <img class="w-100" height="200" [src]="room.images[0]? room.images[0]:emptyImage" alt="">
                    <div class="imag-icon">
                         <a class=" text-decoration-none text-white" [routerLink]="[ '/landing-page/details',room._id]">
                            <i class="fa-solid fa-eye eye "></i>
                        </a>

                        <a class=" text-decoration-none text-white" >
                            <i [className]="iconClass" (click)="handleDeleteItem(item._id, room.roomNumber)"></i>
                        </a>
                    </div>
                    <span>{{room.discount| currency: 'EGP '}} Off</span>
                    </div>
                    <h3>{{room.roomNumber}}</h3>
                    <p>{{room.price| currency : 'EGP '}}</p>
                </div>
            </div>
        </div>
        <div class="m-5 " *ngIf="favouriteRooms[0].rooms.length==0">
            <div class="w-25 mx-auto">
                <img class="w-100" src="../../../../../assets/images/emptyImage.jpg" alt="">
            </div>
        </div>

        <!--
        <div class="card-paginator mx-auto d-flex justify-content-center my-4">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="size" [totalRecords]="roomData.data.totalCount"
              [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
        </div> -->

    </article>
</section>
