
<section>
    <mat-form-field class=" input" class="w-100" appearance="outline" >
      <mat-label>Search here</mat-label>
      <input matInput type="text" 
      placeholder="Search Here" 
      #searchVal 
      [(ngModel)]=" searchValue" 
      (keyup.enter)="filterByRoomNumber(searchVal)" >
      <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </section>

<section>
  <div class="d-flex justify-content-between heading">
    <div>
      <h3 class="m-0">Rooms Table Details</h3>
      <p>You can check all details</p>
    </div>
    <div>
      <button routerLink="add" class="primary" type="button">
        Add New Rooms
      </button>
    </div>
  </div>
</section>


<section class="facilities mt-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <app-shared-table
          [tableHeaders]="headers"
          [tableBodyContent]="tableData"
          [displayHeaders]="displayHeaders"
          (viewItem)="handleViewItem($event)"
          (editItem)="handleEditItem($event)"
          (deleteItem)="handleDeleteItem($event)"
          [totalCount]="tableResponse.data.totalCount"
          (pageIndexChanged)="pageNumberEvent($event)"
          (pageSizeChanged)="pageSizeEvent($event)"
        >
        </app-shared-table>
      </div>
    </div>
  </div>
</section>
