<section>
  <div class="d-flex justify-content-between heading">
    <div>
      <h3 class="m-0">Rooms Table Details</h3>
      <p>You can check all details</p>
    </div>
    <div>
      <button routerLink="add" class="primary" type="button">
        Add New Rooms
      </button>
    </div>
  </div>
</section>

<section class="facilities mt-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <app-shared-table
        [tableHeaders]="headers"
        [tableBodyContent]="tableData"
        [displayHeaders]="displayHeaders"
        (viewItem)="handleViewItem($event)"
        (editItem)="handleEditItem($event)"
        (deleteItem)="handleDeleteItem($event)">
      </app-shared-table>
      </div>
    </div>
  </div>
</section>
