<section class="p-4">
  <div class="d-flex justify-content-between mb-4">
    <h2>Change Your Password</h2>
    <a class="text-danger" (click)="onNoClick()"><i class="fa-solid fa-xmark-circle fa-2x"></i></a>
  </div>
  <form [formGroup]="changePassForm" (ngSubmit)="sendChangePass()">
    <div class="input-holder">
      <input formControlName="oldPassword" type="text" class="form-control mb-3" placeholder="Enter Old Password">
    </div>
    <div class="input-holder">
      <input formControlName="newPassword" type="text" class="form-control mb-3" placeholder="Enter New Password">
    </div>
    <div class="input-holder">
      <input formControlName="confirmPassword" type="text" class="form-control mb-3" placeholder="Enter Confirm Password">
    </div>

    <div class="mt-4">
      <button class="primary-outline">Save</button>
    </div>
  </form>
</section>

