<nav
  class="navbar navbar-expand-sm navbar-light bg-white"
>
  <div class="container">
    <a class="navbar-brand" href="#">Staycation</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto me-4 mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favorite</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <img src="../../../../../assets/images/shared/delete.png" alt="">
        <p class="m-0 mx-3">UserName</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
</nav>

