<section class="auth d-flex align-items-center justify-content-center vh-100">
  <div class="auth-content rounded-4 main-box-shadow bg-white gap-5">
    <div class="mb-lg-0 mb-md-0 mb-3">
      <h1>Staycation</h1>
    </div>
    <div class="row g-5 align-items-center">
      <div class="col-md-6 col-lg-6 col-12">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-6 col-lg-6 col-12 d-md-block d-lg-block d-none">
        <figure>
          <div>
            <img src="../../../assets/images/auth/signin.png" alt="sign in" title="sign image" class="w-100">
          </div>
          <figcaption></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
