@import '../../../../../../../../assets/styles/layout.scss';

.img-holder{
  width:150px;
  height: 150px;
  position: relative;
  margin-right: 10px;
}

.image{
  width:150px;
  height: 150px;
}

.icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(179, 29, 29);
  color: #fff;
}

i:hover{
  cursor: pointer
}
