<article class="d-flex flex-column gap-5 w-100">
  <div class="content d-flex flex-column gap-2">
    <h3 class="h2 mb-0">Sign in</h3>
    <p class="mb-0">If you don’t have an account register</p>
    <p class="mb-0">You can
      <span>
        <a class="main-color" routerLink="/auth/register">Register here !</a>
      </span>
    </p>
  </div>
  <form class="d-flex flex-column gap-4" (ngSubmit)="onLogin(loginForm)" [formGroup]="loginForm">
    <div class="d-flex flex-column gap-2" *ngFor="let formField of formFields">
      <label [for]="formField.controlName" class="fw-bold fs-5">{{ formField.label }}</label>
      <input [type]="formField.controlName == 'email' ? 'email' : 'password'" class="form-control border-2 fs-6 p-2"
        [placeholder]="formField.placeholder" [id]="formField.controlName" [formControlName]="formField.controlName">

      <div *ngIf="
          loginForm.get(formField.controlName)?.invalid &&
          (loginForm.get(formField.controlName)?.dirty ||
          loginForm.get(formField.controlName)?.touched)" class="error"
        [ngClass]="{'controlName-invalid': loginForm.get(formField.controlName)?.invalid}">

        <div *ngIf="loginForm.get(formField.controlName)?.errors?.['required']" class="text-danger">
          <p class="text-danger mb-0">{{ formField.label }} is <strong>required.</strong></p>
        </div>
        <div *ngIf="loginForm.get(formField.controlName)?.errors?.['email']" class="text-danger">
          <p class="text-danger mb-0">Please enter a valid email address.</p>
        </div>
        <div *ngIf="loginForm.get(formField.controlName)?.errors?.['minlength']" class="text-danger">
          <p class="mb-0">{{ formField.label }} must be at least
            <strong>{{
              loginForm.get(formField.controlName)?.errors?.['minlength']?.requiredLength }}</strong>
            characters long.
          </p>
        </div>
      </div>
    </div>

    <div class="links">
      <a routerLink="/auth/forget-password">Forget Password ?</a>
    </div>

    <button class="primary d-block w-100" [disabled]="loginForm.invalid">Log in</button>
  </form>
</article>
