<section>
  <article class="p-3">
    <div class="text-end ">
      <a (click)="onNoClick()" class="text-danger">
        <li class="fa-solid fa-xmark-circle fa-2x"></li>
      </a>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="text-center p-3">
          <img src="../../../../../assets/images/shared/delete.png" class="w-50 p-3" alt="">
          <p>
            are you sure you want to delete '{{ data.name }}' ? <br>
            if you are sure just click on delete</p>
        </div>
        <div class="my-1 d-flex justify-content-between align-items-center pt-2 border-top w-100 px-2 py-1">
          <button type="button" (click)="onNoClick()" class="dark-outline fw-bold mx-0 ">Cancel</button>
          <button class="danger fw-bold mx-0 " [mat-dialog-close]="data.itemId" type="button"> Delete </button>
        </div>
      </div>
    </div>
  </article>
</section>
