<section class="w-75 mx-auto py-5">
  <div class="container">
    <owl-carousel-o [options]="customOptions" >

      <ng-container *ngFor="let review of reviewData" >
        <ng-template carouselSlide >
          <div class="row align-items-center justify-content-center">
            <div class="col-md-4 d-flex align-items-center height">
              <div class="img-holder">
                <img [src]="review.user.profileImage" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="ps-5">
                <h3>{{review.user.userName}}</h3>
                <i [class.rating-color]="review.rating >= star" *ngFor="let star of [1,2,3,4,5]" class="fa-solid fa-star"></i>
                <h2>{{review.review}}</h2>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</section>
